body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 40 auto;
    padding: 10px;
}
.main_actions ul {
	overflow: hidden;
	margin-right: 45px;
}
.main_actions li{
	float: right;
	list-style: none;
	padding: 0 5px;
}
label {
	text-align: left;
}
textarea {
	border: 1px solid blue;
	font-family: monospace;
	padding: 0;
	white-space: nowrap;
}
.error {
	color: red;
}