<!doctype html>
{% autoescape true %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<div class="main_actions">
		<ul>
			{% if user %}
			<li><a href="/_edit">edit</a></li>
			<li><a href="/history">history</a></li>
			<li><a href="/logout">{{ user.username }}(logout)</a></li>
			{% else %}
			<li><a href="/history">history</a></li>
			<li><a href="/login">login</a></li>
			<li><a href="/signup">signup</a></li>
			{% endif %}
		</ul>
	</div>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
{% endautoescape %}