<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<h2>Login</h2>
	<div class="login-area">
		<form method="post">
			<table>
				<tr>
					<td><label>Username</label></td>
					<td><input type="text" name="username"></td>
					<td class="error">{{error_username}}</td>
				</tr>
				<tr>
					<td><label>Password</label></td>
					<td><input type="password" name="password"></td>
					<td class="error">{{error_password}}</td>
				</tr>
				<tr>
					<td class="error">{{invalid_login}}</td>
				</tr>
			</table>
			<input type="submit">
			<input type="hidden" name="previous_page" value="{{ previous_page }}">
		</form>
	</div>
</body>
</html>
